body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 18px 40px;
}
/* Logo */

/* Navigation libks */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: black;
}
/* Hamburger Icon */

.hamburger span {
  height: 3px;
  width: 25px;
  background: black;
  border-radius: 3px;
  margin: 3px 0px;
}
.demo {
  display: inline-block;
  /* background-color: white; */
  border: 1px solid #a6dc94;
  text-decoration: none;
  color: #3a7326;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}
.free-trial-btn {
  display: inline-block;

  background-color: #3a7326;
  text-decoration: none;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}
.buttons-hamburger {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 12px;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    justify-content: center;
    background: #333;
    flex-direction: column;
    width: 200px;
    text-align: center;
    padding: 20px;
    gap: 10px;
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}
