body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 18px 40px;
}
/* Logo */

/* Navigation libks */
.nav-links {
  list-style: none;
  display: none;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: black;
}
/* Hamburger Icon */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 12px;
  }

.hamburger span {
  height: 3px;
  width: 25px;
  background: black;
  border-radius: 3px;
  margin: 3px 0px;
}
.demo {
  /* display: inline-block; */
  display: none;
  /* background-color: white; */
  border: 1px solid #a6dc94;
  text-decoration: none;
  color: #3a7326;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}
.free-trial-btn {

  display: none;
  /* display: inline-block; */
  background-color: #3a7326;
  text-decoration: none;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}
.buttons-hamburger {
  
  /* display: none; */
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) /* and (max-width: 1023px) */ {
  
  .demo {
    display: inline-block;
  }
  .free-trial-btn {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .nav-links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}