body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;

}
/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
}
/* Navigation libks */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
}
